@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kantumruy+Pro:wght@600&display=swap');
@import url("https://unpkg.com/@fortawesome/fontawesome-free@6.1.1/css/all.min.css");
:root {
  --dark-bg: #250c3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  scrollbar-color: #d34644 #250c3a;
  scrollbar-width: thin;
}

html {
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 0px;
  background-color: var(--dark-bg);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

img {
  display: block;
}

h1, 
h2, 
h3, 
h4 {
  font-weight: normal;
}

::selection {
  background: #ac19349c;
  opacity: 80%; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ac19349c; /* Gecko Browsers */
  opacity: 80%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

@keyframes pulse2 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  background-color: #250c3a;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #d34644;
  border-radius: 100px;
}

.text-center {
  text-align: center;
}

.header {
  padding-bottom: 10vw;
  overflow: hidden;
  background: url("/svg/waves.svg");
  background-repeat: no-repeat;
  background-size: 100vw 95%;
  animation: fadeInAnimation ease-in-out 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.display-none {
  display: none;
}

/* Huge Thank You to YÖCTDÖNALD'S for fixing the various Firefox issues! */

.background {
  position: fixed;
  left: 0px;
  top: 0px;
  border: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.brand {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 5px;
  font-size: 20px;
  margin: 20px 0px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.brand > a {
  color: white;
  text-decoration: none;
}

#logo {
  margin: 0 10px;
}

.brand-res {
  cursor: pointer;
  display: none;
  letter-spacing: 5px;
  font-size: 20px;
  text-transform: uppercase;
}

.brand:hover {
  animation: pulse 1s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  padding: 0px;
  width: 25%;
  overflow: hidden;
}

.footer {
  overflow: hidden;
  padding-top: 10vw;
  width: 100%;
  background: url("/svg/waves-footer.svg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  animation: fadeInAnimation ease-in-out 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footerbox {
  display: flex;
  list-style: square;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  margin: auto 0px;
}

.footerbox > .brand {
  position: relative;
  top: 45px;
}

.footerbox > ul {
  cursor: pointer;
  margin: 20px 0px;
}

.footerbox > ul > li > a {
  display: inline-block;
  color: white;
  letter-spacing: 3px;
  padding: 5px;
  text-decoration: none;
}

.footerbox > ul > li > a:hover {
  animation: pulse 1s;
}

.socials {
  cursor: pointer;
  display: inline-block;
  letter-spacing: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.socials > .top {
  display: inline-flex;
  justify-content: center;
}

.socials > .top > a {
  margin-left: 20px;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.socials > .top > a:hover {
  animation: pulse2 1s;
}

.navbar > li {
  cursor: pointer;
  display: inline-flex;
  float: left;
  margin: 20px 0px;
  padding: 5px 10px;
}

.navbar > li > a {
  display: inline-block;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar > li > a:hover {
  animation: pulse 1s;
}

.nav-mobile {
  display: none;
  cursor: pointer;
  margin: 20px 0px;
  padding: 0px;
  overflow: hidden;
}

.nav-mobile > i:hover {
  animation: pulse 1s;
}

.content {
  width: 100%;
  box-sizing: border-box;
  margin: 8vh 0px;
  position: relative;
  animation: fadeInAnimation ease-in-out 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition: color 0.3s;
  will-change: transform;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d64642;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
  transform: scaleX(1);
}

.button-group {
  cursor: pointer;
  margin: 0px;
  padding-top: 20px;
}

.button-group > a {
  border: #b71731 1px solid;
  border-radius: 10px;
  color: white;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-group > a:hover {
  animation: pulse 1s;
}

.button-right {
  margin-left: 50px;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  float: left;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-1,
.container-2 {
  display: flex;
  justify-content: center;
}

.container-3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.splash {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.spacing {
  letter-spacing: 2px;
}

.head {
  font-size: 25px;
  text-transform: uppercase;
}

.head-index {
  font-size: 25px;
  text-transform: uppercase;
}

#showcase {
  list-style-type: none;
}

.head-w {
  font-size: 35px;
  text-transform: uppercase;
}

.spacing-w {
  margin-left: 150px;
  bottom: 70px;
}

.main-body {
  position: relative;
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 500px;
  letter-spacing: 3px;
  left: 180px;
  bottom: 0vh;
}

.main-body>h3 {
  font-size: 16px;
}

.info-list {
  float: left;
  width: 50%;
  list-style: none;
  padding-top: 15%;
  perspective: 1px;
}

.info-list > p {
  font-family: 'Kantumruy Pro', sans-serif;
  letter-spacing: 2px;
}

.info-list > li {
  display: flex;
  padding-top: 10px;
  padding-bottom: 40px;
  position: relative;
}

.info-list > li span {
  border-radius: 10px;
  border: 1px solid #b4213b;
  padding: 10px 20px;
  margin-right: 10px;
  background: #b41832;
  letter-spacing: 3px;
}

.info-list > li span:before {
  content: "";
  position: absolute;
  border-left: 1px solid;
  left: 10px;
  bottom: 0;
  z-index: -1;
  height: 50px;
}

.info-list > li:last-child span:before {
  content: none;
}

.info-list > li:last-child {
  padding-bottom: 0;
}

.info-seperator {
  border: #d64642 1px solid;
  height: 50px;
  width: 1px;
}

#showcase>ul>li {
  will-change: transform;
}

.geo-shape-1 {
  position: relative;
  width: 680px;
  height: 600px;
  bottom: 15vh;
  right: 20px;
}

.geo-shape-1 img {
  position: absolute;
  width: 100%;
  height: 600px;
  overflow: hidden;
  object-fit: contain;
}

.geo-shape-2 {
  position: relative;
  width: 500px;
  height: 600px;
  bottom: 15vh;
  left: 100px;
}

.geo-shape-2 img {
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
  object-fit: contain;
}

.hu-preview {
  width: 100%;
  height: 600px;
  overflow: hidden;
  object-fit: contain;
}

.geo-shape-3 {
  position: relative;
  width: 680px;
  height: 600px;
  right: 20px;
}

.desc {
  display: flex;
  justify-content: center;
  padding: 80px;
  letter-spacing: 2px;
  margin-bottom: 1em;
  font-family: 'Kantumruy Pro', sans-serif;
  width: 100%;
}

.showcase-item > p {
  font-family: 'Kantumruy Pro', sans-serif;
  letter-spacing: 2px;
}

.showcase-link {
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 2px;
}

.link {
  cursor: pointer;
  color: #b41c35;
  text-decoration: none;
}

.showcase-item {
  margin: 150px;
}

@media screen and (max-width: 1800px) {
  .navbar {
    width: 30%;
  }
}

@media screen and (max-width: 1700px) {
  .navbar {
    width: 30%;
  }
  .footer {
    padding-top: 8vw;
    background-size: 100vw auto;
  }
}

@media screen and (max-width: 1300px) {
  .header {
    background-size: 100vw 120%;
  }
  .footer {
    padding-top: 7vw;
    background-size: 100vw auto;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 40%;
    font-size: 12px;
  }
  .header {
    background-size: 100vw 130%;
  }
  .footer {
    padding-top: 5vw;
    background-size: 100vw auto;
  }
  .footerbox {
    display: flex;
    list-style: square;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    margin: auto 0px;
  }
  .geo-shape-1 img {
    display: none;
  }
  .main-body {
    position: relative;
    font-family: "Kdam Thmor Pro", sans-serif;
    width: 500px;
    letter-spacing: 3px;
    left: 100px;
    bottom: 0vh;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow: hidden;
  }
  .header {
    background-size: 160vw 135%;
  }
  .brand {
    display: none;
  }
  .brand-res {
    display: inline-block;
  }
  .navbar {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    background-color: #e74d45;
    z-index: 2;
    right: 0px;
    height: 120vw;
    font-size: 10px;
    width: 100%;
    top: 30px;
  }
  .content {
    z-index: -1;
  }
  .nav-mobile {
    color: white;
    display: block;
  }
  .nav-enabled {
    display: flex;
    transform: translateX(0%);
    animation: fadeInAnimation ease-in-out 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .footer {
    padding-top: 2vw;
    background-size: 100vw auto;
  }
  .footerbox {
    display: flex;
    list-style: square;
    justify-content: space-around;
    align-items: center;
    min-height: 2vh;
    margin: auto 0px;
  }
  .main-body {
    position: relative;
    font-family: "Kdam Thmor Pro", sans-serif;
    width: 500px;
    letter-spacing: 3px;
    left: 50px;
    bottom: 0vh;
  }
}

@media (min-width: 850px) {
  .background {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 768px) {
  .navbar {
    width: 50%;
  }

  .background {
    max-width: 100%;
    max-height: 100%;
  }
  
}

@media (max-width: 767px) {
  .geo-shape-3 p {
    font-size: 14px;
  }
  .geo-shape-2 {
    width: 100%;
    margin: auto;
  }
  .geo-shape-2 img {
    width: 80%;
  }

  .container-2 {
    display: none;
  }

  .footer {
    display: none;
  }

  .background {
    max-width: 100%;
    max-height: 100%;
  }
}


@media screen and (max-width: 500px) {
  .header {
    padding-bottom: 10vw;
    overflow: hidden;
    background: url("/svg/waves-mobile.svg"),
      linear-gradient(
        180deg,
        transparent 0px,
        transparent 10vw,
        var(--dark-bg) 20vw,
        var(--dark-bg) 100%
      );
    background-repeat: no-repeat;
    background-size: 160vw 220%;
  }

  .container-2 {
    display: none;
  }

  .footer {
    display: none;
  }

  .background {
    max-width: 100%;
    max-height: 100%;
  }
}
